<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic + Azure</h2>
    <!--<button ng-click="adding()">Here we go</button>-->
    <p>
    This is the Ionic starter tabs app with a fully integrated Azure backend mobile service. To create a Backend on Azure, check out the <a href="https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-cordova-get-started/" target="_blank">Azure docs</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
      To learn about other mobile services offered by Azure such as Azure authentication, Push Notifications and Online/Offline sync, check out<a href="https://azure.microsoft.com/en-us/documentation/services/app-service/mobile/" target="_blank">this tutorial </a>.
    </p>
  </ion-content>
</ion-view>
